<div class="row">
  <div class="col-12">
    <div class="form-group">
      <input type="text" class="form-control" name="filterProductos" placeholder="Llanta..."
        [formControl]="filterProductos">
    </div>
  </div>
</div>
