<div class="row">
  <div class="col-12">
    <div class="form-group">
      <select class="form-select" aria-label="Default select example" name="filtrarCategorias"
        [formControl]="filtrarCategorias">
        <option selected value="">TODAS</option>
        <option [value]="categoria.NOMBRE" *ngFor="let categoria of listCategorias">{{categoria.NOMBRE}}</option>
      </select>
    </div>
  </div>
</div>
