<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="container" *ngIf="!showSpinner">
  <div class="card">
    <div class="row">
      <div class="col-6 float-left">
        <div class="shoeBackground">
          <img [src]="producto.IMAGEN_450" alt="" class="logo img-fluid">
        </div>
      </div>

      <div class="col-6 float-right">
        <div class="info">
          <div class="shoeName text-center">

            <h3>{{producto.NOMBRE}}</h3>

            <h3 class="small">{{producto.MARCA}} | {{producto.CATEGORIA}}</h3>
          </div>
          <div class="description text-center">
            <h3 class="title">Descripción</h3>
            <p class="text">{{producto.DESCRIPCION}}</p>
          </div>
          <div class="description text-center">
            <h3 class="title">Especificaciones</h3>
            <div class="row">
              <div class="col-12">
                <ul class="list-group">
                  <li class="list-group-item">Código: {{producto.CODIGO}}</li>
                  <li class="list-group-item">Estado: {{producto.ESTADO}}</li>
                  <li class="list-group-item">Linea: {{producto.LINEA}}</li>
                  <li class="list-group-item">UEN: {{producto.UEN}}</li>
                  <li class="list-group-item">Tipo Fabricante: {{producto.TIPOFABRICANTE}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="buy-price">
            <button routerLink="/" class="btn  btn-lg btn-outline-primary">Volver al Listado</button>
            <div class="price">
              <h1>${{producto.PRECIO_VENTA}} {{producto.UNITID}}</h1>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
