<app-spinner *ngIf="showSpinner"></app-spinner>
<div *ngIf="!showSpinner" class="container">
  <div class="row">
    <div class="col-lg-12 offset-lg-0">
      <div class="card mt-1">
        <div class="card-body mt-1">
          <h4 class="text-center">PRODUCTOS</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3 mt-2">
      <h4 class="titulo-secundario">Categoria:</h4>
      <app-filter-categories (filter)=filtrarCategorias($event)></app-filter-categories>
    </div>


    <div class="col-3 mt-2">
      <h4 class="titulo-secundario">Buscar:</h4>
      <app-buscador-productos (search)=filterProductos($event)></app-buscador-productos>

    </div>
    <div class="col-3">


    </div>
  </div>
  <div class="row">
    <div class="col-3" *ngFor="let producto of listProductos | search:filtroProducto | filter:filtroCategoria">
      <div class="card mt-3">
        <div class="card-body text-center">
          <img [src]='producto.IMAGEN_150' class="card-img-top">
          <h6 class="card-title">{{producto.NOMBRE}}</h6>
          <p class="card-text">${{producto.PRECIO_VENTA}} {{producto.UNITID}}</p>
        </div>
        <button [routerLink]="['/view-producto',producto._id]" class="btn btn-primary" style="margin-bottom:5px">Ver
          Detalles</button>
      </div>
    </div>
  </div>


</div>
